
body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
  overflow-x: hidden;
}
.wrap{
  padding-left: 3vw; 
  padding-right: 3vw;
  box-sizing: border-box;
}
h2{
  font-size: 14px;
}
.h3{
font-size: 18px;
}
h4{
  font-size: 26px;
}
.sm14{
font-size: 14px
}
.block{
  display: block;
}
.bold{
  font-weight: 700;
}
.paddingT50{
  padding-top: px;
}
.paddingB50{
  padding-bottom: 50px;
}
.flex{
  display:flex;
  align-items: center;
}
.hide{
  display: none;
}
.grid{
  display: grid;
}
/*Top*/
.top{
  width: 50px;
  height: 50px;
  font-size: 17px;
  text-transform: capitalize;
  line-height: 3;
  background-color: #69666629;
  color: #0000009c;
  position: absolute;
  right: 1vw;
  bottom: 400px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  animation-name:scroll;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
@keyframes scroll{
  100%{
    transform:translateY(20%);
  }
}
/*logo*/
.logo{
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  animation-name: logo;
  animation-duration: 4s;  
  animation-iteration-count: infinite;
  text-indent: -9999px;
  width: 3vw;
  height: 13vh;
}
@keyframes logo{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
