/* 모바일 (max-width: 768px) */
@media screen and (max-width: 768px) {

  /* Header */
  body {
    width: 100%;
    padding-top: 60px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  header div.wrap nav {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    position: relative;
  }
  header div nav h1 {
    margin: 0;
  }
  header div.wrap nav h1 a {
    width: 45px;
    height: 60px;
  }
  header div.wrap nav .gnb,
  header div nav .rgnb {
    display: none;
  }

  /* Hamburger Menu */
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    top: 60px;
    right: -15px;
    width: 30vw;
    height: auto;
    background-color: #dddcdda1;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 9999;
    display: none;
  }
  .nav-menu.active {
    display: flex;
    gap: 0;
  }
  .nav-item {
    width: 100%;
    height: 50px;
    line-height: 3;
  }
  .nav-item:hover {
    background-color: #d5d5d5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  /* Title Section */
  #title {
    width: 100%;
    height: 90vh;
  }
  #title::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 480px;
    height: 100vh;
    background-position: center;
    opacity: 0.5;
  }
  #title::after {
    top: 83.2vh;
    width: 30px;
    height: 30px;
  }
  #title div.wrap {
    padding: 4vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  #title div.wrap .two {
    font-size: 10px;
  }
  #title .wrap .intro {
    width: 100%;
    height: 47vh;
    padding-top: 18vh;
  }
  #title .wrap .intro span {
    padding-left: 0;
  }
  #title .wrap .intro div p:nth-child(2) {
    font-size: 13px;
  }
  #title .wrap .intro span a {
    width: 97px;
    height: 22px;
    font-size: 17px;
  }
  #title .wrap .intro span a:hover{
    background-color: white;
    color: black;
  }
  #title .wrap .introAni {
    font-size: 59px;
  }
  #title .wrap .introAni h2 {
    font-size: 56px;
  }
  #title .wrap .self {
    width: 60vw;
    padding-top: 14px;
    font-size: 37px;
  }
  #title .wrap .introimg {
    position: absolute;
    top: 9vw;
    width: 100vw;
    height: 30vh;
  }
  #title .wrap .introimg figure {
    width: 100%;
    height: 100%;
    background-image: url(../img/titleimg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: titleSlideIn 2s;
  }
  #title .wrap .introimg figure:hover{
    transition: 0s;
    transform: scale(1);
  }
  #title .updatetime {
    display: none;
  }

  /* About Me Section */
  #aboutme {
    width: 100%;
    height: 470px;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  #aboutme .grid {
    display: flex;
    flex-direction: column;
    width: 94vw;
    height: 100%;
    padding: 80px 20px 40px 20px;
  }
  #aboutme .wrap h2 {
    font-size: 23px;
    opacity: 0.7;
    padding-bottom: 12px;
  }
  #aboutme .wrap .myphotoAni {
    height: 60%;
    align-content: center;
  }
  #aboutme .wrap .myphotoAni img {
    border-radius: 50% !important;
    height: 49vh;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  #aboutme .wrap .myphotoAni img:hover {
    padding-bottom: 20px;
  }
  #aboutme .wrap .intro .myself {
    padding: 7px;
  }
  #aboutme .wrap .intro .sm14 span {
    display: initial;
  }
  #aboutme .wrap .intro .sm14 span:nth-child(1),
  #aboutme .wrap .intro .sm14 span p:nth-child(1) {
    font-weight: bold;
  }
  #aboutme .wrap .intro .sm14 span p:nth-child(2) {
    text-indent: 0.2em;
  }
  #aboutme .wrap .info {
    display: none;
  }

  /* Project Section */
  #projects {
    width: 100%;
    height: 100%;
  }
  #projects .wrap .list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  #projects .wrap .list .grid:nth-child(3){
    padding-left: 20px;
    padding-right: 20px;
  }
  #projects .wrap .list > li {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    width: calc(100vw - 75px);
    padding: 20px;
  }
  #projects .wrap .list > li:hover{
    transform: scale(1);
    transition: 0s;
  }
  #projects .wrap .list li:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  #projects .wrap .list li:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    bottom: -8px;
  }
  #projects .wrap .list li:nth-child(3) figure::after {
    bottom: -45px;
    right: -9px;
  }
  #projects .wrap .list li:nth-child(3) figure img {
    transform: translateX(-1px) translateY(21px);
  }
  #projects .wrap .list li h3 {
    grid-column: 1;
    grid-row: 1;
    font-size: 17px;
    font-weight: bold;
  }
  #projects .wrap .list li h3 .mobile-break {
    display: block;
    margin-top: 4px;
    font-size: 0.9em;
  }
  #projects .wrap .list li figure {
    grid-column: 1;
    grid-row: 2;
    height: auto;
  }
  #projects .wrap .list li .sub {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
  }
  #projects .wrap .list li .sub li a {
    transform: scale(1);
    background-color: white;
    color: black;
  }
  #projects .wrap .list li .sub li a:hover{
    background-color: white;
    color: black;
  }
  #projects .wrap .list li .sub li strong {
    width: auto;
    padding-right: 5px;
  }
  #projects .wrap .list li .sub li:nth-child(5) {
    display: none;
  }
  #projects .wrap .list li .sub li:nth-child(6) {
  }
  #projects .wrap .list li .sub li:nth-child(6) a {
    margin-right: 10px;
    font-size: 14px;
    padding: 6px !important;
    line-height: 1;
  }
  .sub .indent1,
  .sub .indent2 {
    text-indent: 0;
    margin-left: 0;
  }
  #projects .wrap .list li .sub .work {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  /* Contact Section */
  #contact .container > p {
    margin-bottom: 5vh;
  }

  /* Footer */
  footer {
    position: relative;
    width: 100vw;
    height: auto;
    min-height: 5vh;
    z-index: 9999;
  }
  footer div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 100%;
    margin: 10px 15px 10px 20px;
  }
  footer .sns .icon:hover {
    transform: scale(1);
    transition: 0s;
  }
  footer .top {
    display: none;
    top: -100px;
    width: 45px;
    height: 45px;
    font-size: 16px;
  }
  footer div h1 {
    grid-column: 1;
    grid-row: 1;
  }
  footer div h1 .logo {
    width: 50px;
    height: 50px;
  }
  footer div .sns {
    grid-column: 2;
    grid-row: 1;
    column-gap: 2vw;
  }
  footer div .sns li {
    padding-right: 10px;
  }
  footer div .fnb {
    display: none;
    grid-column: 1;
    grid-row: 2;
    column-gap: 1vw;
  }
  footer div .fnb li {
    padding-right: 10px;
  }
  footer div .fnb li:nth-child(2) {
    width: 66px;
  }
  footer div .email,
  footer div .phone,
  footer div p {
    display: none;
  }
  .cursor,
  .cursor2 {
    display: none;
  }

  /* hover */
  #contact .container .send input[type="submit"]:hover {
    transform: none;
    transition: 0s;
  }
  
}