/* 스크린이고 최대너비가 768인 경우에 {}안의 스타일 적용됨  */
@media screen and (max-width:768px){ 
  body{
    width: 100%;
    padding-top: 60px
  }
  header{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 9999;
  }
  header div.wrap nav{
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  display: grid;
  position: relative;
  }
  header div nav h1{
    margin: 0px;
  }
  header div.wrap nav h1 a{
  width: 45px;
  height: 60px;
  }
  header div.wrap nav .gnb{
  display: none;
  }
  header div nav .rgnb{
    display: none;
  }
  /*버거메뉴*/
  .hamburger{
    display: block; 
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

.nav-menu {
  position: absolute;
  top: 60px;                 /* 어디든 상관없지만 header 아래 추천 */
  right: -15px;
  width: 40%;
  background-color: #dddcdda1;
  flex-direction: column;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: none;             /* 처음엔 숨김 */
  z-index: 9999;
}
.nav-menu.active {
  display: flex;             /* 클릭하면 보임 */
  gap: 0px;
}

  .nav-item:hover{
    background-color: #d5d5d5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .nav-item{
    width: 100%;
    height: 50px;
    line-height: 3;
  }


  #title{
    width: 100%;
    height: 100vh;    
  }
  #title::before{
    content:"";
    background-position: center;
    opacity: 0.5;
    /*! width: 100%; */
    max-width: 480px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  #title div.wrap{
    padding: 4vw;
    width: 100vw;
    align-self: center;
    flex-direction: column;
  }
  #title div.wrap .two{
    font-size: 10px;
  }
  #title .wrap .intro {
    height: 47vh; 
    width: 100%;
    padding-top: 15vh;
  }
  #title::after{
    top: 78.2vh;
    width: 30px;
    height: 30px;
  }
  #title .wrap .introAni{
    font-size: 59px;
  }
  #title .wrap .introAni h2{
    font-size: 56px;
  }
  #title .wrap .self{
    width:46vw;
    padding-top: 14px;
    font-size: 37px;
  }
 
  #title .wrap .intro span{
    padding-left: 0;
  }
  #title .wrap .intro div p:nth-child(2){
    font-size: 13px;
  }
  #title .wrap .sm15{
    display: hidden;
  }
  #title .wrap .intro span a{
    width: 97px;
    height: 22px;
    font-size: 17px;
  }
  #title .wrap .introimg{
    width: 48vw;
    height: 27vh;
    position: absolute;
    top: 2vw;
  }
  
  #title .updatetime{
    display: none;
  }
 /*About Me*/
  #aboutme{
    width: 100%;
    height: 100vh;
    max-ith: 460px;
  }
  #aboutme .grid{
    display: flex;
    flex-direction: column;
    width: 94vw;
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  #aboutme .wrap h2{
    font-size: 23px;
    opacity: 0.7;
    padding-bottom: 12px;
  }
  #aboutme .wrap .myphotoAni{
    height: 60%;
    align-content: center;
  }
  #aboutme .wrap .myphotoAni img{
    border-radius: 50% !important;
    height: 49vh;
    padding-bottom: 20px;
  }
  #aboutme .wrap .myphotoAni img:hover{
    padding-bottom: 20px;
  }
  #aboutme .wrap .intro .myself{
    padding: 7px;
  }
  
  #aboutme .wrap .info{
    display: none;
  }
  /*Project*/
  #projects{
    width: 100%;
    height: 100%;
  }
  #projects .wrap .list{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  #projects .wrap .list >li{
    grid-row: 1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    display: grid;
    padding: 20px;
  }
   #projects .wrap .list li:nth-child(1){
    height: auto;
  }
  #projects .wrap .list li:nth-child(2){
  grid-row: 2;
  grid-column: 1;
  }
   #projects .wrap .list li:nth-child(3){
    grid-column: 1;
    grid-row: 3;
    bottom: -8px;
  }
  #projects .wrap .list li:nth-child(3) figure::after {
  bottom: -8px;
  }

  #projects .wrap .list li h3{
    grid-column: 1;
    grid-row: 1;
    font-size: 17px;
    font-weight: bold;
  }
  #projects .wrap .list li figure{
    grid-column: 1;
    grid-row: 2;
  }
  #projects .wrap .list li figure img{
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  #projects .wrap .list li .sub{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
  }
    #projects .wrap .list li:nth-child(3) .sub>li:nth-child(1){
      padding-left: 2em; 
      text-indent: -1em;
  } 
  #projects .wrap .list li .sub .work{
    width: 0;
    height: 0;
    visibility: hidden;
  }
  #projects .wrap .list li .sub li:nth-child(5){
    display: none;
  }
  #projects .wrap .list li .sub li:nth-child(6){
    margin-top: 15px;
  }
  #projects .wrap .list li .sub li:nth-child(6) a{
    /*! margin-bottom: 5px; */
    margin-right: 10px;
  }
    #projects .wrap .list li h3 .mobile-break {
  display: block;
  margin-top: 4px;
  font-size: 0.9em; 
  }
  
  /*하단*/
  footer {
    height: auto;
    padding: 20px 0;
    position: relative;
    z-index: 9999;
    min-height: 0;
  }
  footer div{
  width: 100vw;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
  margin: 0;
  }
  footer .top{
  top: -100px;
  display: none;
  }
  footer div h1{
    grid-column: 1;
    grid-row: 1;
  }
  footer div h1 .logo{
    width: 50px;
    height: 50px;
    background-image: cover;
  }
  footer div .sns{
    grid-column: 2;
    grid-row: 1;
  }
  footer div .sns li{
    padding-right: 10px;
  }
  footer div .fnb {
    grid-column: 1;
    grid-row: 2;
    column-gap: 1vw;
    display: none;
  }
  footer div .fnb li{
    padding-right: 10px;
  }
  footer div .fnb li:nth-child(2){
    width: 66px;
  }
  footer div .email {
    display: none;
  }
  footer div .phone{
    display: none;
  }
  footer div p{
    grid-column: 1 / span 2;
    grid-row: 3;
    display: none;
  }
  .cursor, .cursor2{
  display: none;
  }

}

@media screen and (max-width:1200px){ 
  
  
}
